<p>mat-form-h2-dialog-person-info works!</p>

<h2> Person Information </h2>
<app-mat-form-h2-dialog-person-info></app-mat-form-h2-dialog-person-info>

<hr>
<hr>
<hr>


<p>mat-dialog-h2 works!</p>


<h2 mat-dialog-title>{{description}}</h2>

<mat-dialog-content [formGroup]="form">

  <mat-form-field>
    <input matInput
           placeholder="Course Description"
           formControlName="description">
  </mat-form-field>
  ....

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button"(click)="close()">Close</button>
  <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>


