<h1>app-ngformh2-detail-event-emitter works!</h1>
<hr>

<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile style="max-height: 1000px; position: absolute;  top: 30px">
    Mat Grid Tile 1 (NORMAL FORM)
    <mat-card *ngIf="selectedPersonExerciseDTO" class=".example-full-height">

      <p>Customer No : {{selectedPersonExerciseDTO.id}}</p>
      <p>FirstName : <input [(ngModel)]="selectedPersonExerciseDTO.firstName"></p>
      <p>LastName : <input [(ngModel)]="selectedPersonExerciseDTO.lastName"></p>
      <p>Address : <input [(ngModel)]="selectedPersonExerciseDTO.address"></p>
      <p>Country : <input [(ngModel)]="selectedPersonExerciseDTO.country"></p>
      <p>Email : <input [(ngModel)]="selectedPersonExerciseDTO.email"></p>
      <p>Dob : <input [(ngModel)]="selectedPersonExerciseDTO.dob"></p>

      <button (click)="update()">Update</button>

    </mat-card>
  </mat-grid-tile>


  <mat-grid-tile style="max-height: 1000px; height: 400px; position: absolute; top: 5px">
    Mat Grid Tile 2 (MATERIAL FORM)
    <mat-card *ngIf="selectedPersonExerciseDTO.exerciseDTOs">
      <form class="example-form">

        <mat-form-field class="example-full-width">
          <mat-label>id</mat-label>
          <input matInput placeholder="Your id" value="{{selectedPersonExerciseDTO.id}}">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Your Name" value="{{selectedPersonExerciseDTO.firstName}}">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Your Name" value="{{selectedPersonExerciseDTO.lastName}}">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Your Email" value="{{selectedPersonExerciseDTO.email}}">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Address</mat-label>
          <input matInput placeholder="Your Address" value="{{selectedPersonExerciseDTO.address}}">
        </mat-form-field>

        <mat-form-field class="example-full-width" >
          <mat-label>country</mat-label>
          <input matInput placeholder="Your country" value="{{selectedPersonExerciseDTO.country}}">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>dob</mat-label>
          <input matInput placeholder="Your dob" value="{{selectedPersonExerciseDTO.dob}}">
        </mat-form-field>

        <mat-form-field class="example-full-width" style="color: red;">
          <mat-label>Exercise Name</mat-label>
          <input matInput placeholder="Your Exercise Nam" value="{{selectedExerciseDTO.name}}">
        </mat-form-field>

        <mat-form-field class="example-full-width" style="color: red;">
          <mat-label>Exercise Calories</mat-label>
          <input matInput placeholder="Your Exercise Calories" value="{{selectedExerciseDTO.calories}}">
        </mat-form-field>

        <mat-form-field class="example-full-width" style="color: red;">
          <mat-label>Exercise Duration</mat-label>
          <input matInput placeholder="Your Exercise Duration" value="{{selectedExerciseDTO.duration}}">
        </mat-form-field>

        <mat-form-field>
          <mat-label></mat-label>
          // THE EMPTY LABEL
          <input class="toolbar-search" type="text" matInput>
          <mat-placeholder>Search</mat-placeholder>
          <mat-icon matSuffix style="font-size: 1.2em">search</mat-icon>
        </mat-form-field>

      </form>

      <mat-card-actions fxLayoutAlign="left">
        <button mat-button color="primary" mat-raised-button (click)="update()">Update</button>
      </mat-card-actions>

    </mat-card>
  </mat-grid-tile>

</mat-grid-list>




