<div class="container-fluid">
<h3>{{title}}</h3>
  <div class="alert alert-success" *ngIf="saveSuccess">Saved Successfully</div>
  <div class="alert alert-danger"  *ngIf="saveFailure" style="text-emphasis-color: red">Save to database failed!</div>

  <!--  <form onSubmit=""this.handleSubmit"">-->
  <!--    (ngSubmit)="onSave()">-->
  <form #aircraftTypeEditForm="ngForm" class="form-vertical">
    <button class="btn btn-primary"
            [disabled]="instance.shortName.length===0"
            type="submit"
            [disabled] = !aircraftTypeEditForm.dirty
            title="Save changes to database"
            (click)="onSave()">
      Save
    </button>
    <button class="btn btn-primary" (click)="refresh()">Refresh</button>
    <button class="btn btn-primary" [routerLink]="['/fboace04', 'AircraftType']">Return to List</button>

    <div class="form-group">
        <label for="shortName">Short Name</label>
        <input type="text" maxlength="20" class="form-control" name="shortName" id="shortName" [(ngModel)]="instance.shortName"/>
    </div>

    <div class="form-group">
      <label for="longName">Long Name</label>
      <input type="text" class="form-control" name="longName" id="longName" [(ngModel)]="instance.longName"/>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea rows="2" class="form-control" name="description" id="description"
                [(ngModel)]="instance.description"></textarea>
    </div>

    <div class="form-group">
      <Label for="notes">Notes</Label>
      <textarea rows="2" class="form-control" name="notes" id="notes" [(ngModel)]="instance.notes"></textarea>
    </div>

  </form>

</div>

